h1{
    color: rgb(254, 254, 254);
    text-align: center;
    font-size:  40px;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    line-height: 300%;
    text-shadow: 0px 0px 12px red ;
     transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;






}

h1:hover{
    background-color: rgb(255, 251, 0);
    color: black;
    font-size: 50px;
}


p{
    font-weight: bold;
    font-style: italic;


    }

img{

        width: 330px;
        height: 220px;
    border-radius: 10px;
    margin: 5px;
    





}

button{

background-color: rgb(38, 77, 178);
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
text-shadow: 0px 0px 12px rgb(210, 17, 184)
height: 100px;
width: 200px;
font-weight: 700;
transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
margin: 5px;
border-radius: 10px;

}
button:hover{

background-color: rgb(255, 251, 0);
    color: black;
    font-size: 50px;
    cursor: pointer;


}










