form{  
    background-color: blanchedalmond;
    width: 50%;
    border-radius: 20px;
    padding: 5%;
    margin: auto;
    height: auto;
    box-shadow: 0px 0px 12px rgb(4, 0, 255);
    color: chocolate;

}

input{

color:black;
}

legend{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 12px rgb(0, 195, 255);
    margin-bottom: 30px;
}

input[type="text"],[type="tel"],[type="number"],[type="password"],[type="datetime-local"],[type="date"],[type="email"],select{
    border-radius: 20px;
    background-color: bisque;
    width: 100%;
    height: 25px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgb(9, 0, 128);
    margin-top: 10px;


}
button{
    padding: auto;
    background-color: rgb(0, 136, 255);
    border-radius: 20px;
    width: 20%;
    height: 25px;
    display: block;
    margin: auto;
}

textarea{
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 5%;
}

