h1{
text-decoration: underline;
text-align: center;
color: chocolate;
font-size: 50px;



}

#Shipping{

color: blue;

}

#paragraph{

    font-weight: bold;

}

.papa{
    font-style: italic;
    color: rgb(117, 69, 99);

}

#VIP{
    background-color: rgb(62, 35, 211);
    margin: 90px;
    padding: 90px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

#VIP h3{

text-align: center;
font-size: 40px;


}

#VIP:hover{
transform: translateY(-2px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
cursor: pointer;
background-color: rgb(156, 90, 10);
}



#Surprise{

display: flex;

gap: 20px;
margin: 40px;

background-color: chocolate;

border-radius: 20px;

}

#Surprise img{

border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

}

#delivery{

display: flex;
background-color: rgb(154, 81, 8);

}

#delivery img{

width: 800px;
height: 400px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;

}





#courses{

display: flex;



}







































